version: "3"
services:
  digibyted:
    image: blckchnd/digibyte
    # specify additional command line arguments here
    command: digibyted -datadir=/data
    healthcheck:
      test: ["CMD", "/entrypoint.sh", "digibyte-cli", "getinfo"]
    ports:
      # change to 18333 if running testnet
      - 8333:8333
      - 8332:8332
    volumes:
      - ./digibyte-data:/data
    networks:
      - digibyte
  digibyte-cli:
    image: blckchnd/digibyte
    entrypoint: ["/entrypoint.sh", "digibyte-cli"]
    command: ""
    depends_on:
      - digibyted
    network_mode: service:digibyted

networks:
  digibyte:

volumes:
  digibyte-data:
